<mat-drawer-container style="flex:1" class="example-container" hasBackdrop="true" autosize>
    
    <mat-drawer #sidenav  class="sidenav" mode="side" >
      <app-menu></app-menu>
    </mat-drawer>
  
    <div class="sidenav-content">
      <mat-card class="card-body">
        <app-md-viewer></app-md-viewer>
      </mat-card>

    </div>
  
</mat-drawer-container>