:host{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.sidenav{
    min-width: 304px;
}
.sidenav-content{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-body{
    flex: 1;
    margin: 0 15% 0 15%;
}

@media (max-width: 850px) {
    .sidenav {
      width: 100%;
    }
    .card-body{
        flex:1;
        margin:0;
    }
}