<mat-toolbar color="primary">
    <button mat-icon-button class="button-icon" (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="title"><mat-icon></mat-icon>{{title}}</span>

    <button mat-icon-button class="button-icon share" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>